<template>
    <div>
        <div class="row">
            <div class="col-sm-8">
                <form action="" v-on:submit.prevent="searchRate()">
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            <input type="text" class="form-control mb-2" placeholder="Buscar por nombre" v-model="nameInput">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-dark mb-2">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-4">
                <a href="/accounts/create" class="btn btn-dark float-right">Nueva cuenta</a>
            </div>
        </div>
        <table class="table table-sm my-3">
            <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Cédula</th>
                <th>Nombres</th>
                <th>ID Cliente</th>
                <th>Código</th>
                <th>Tasa</th>
                <th>Opciones</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="account in accounts.data"
                :key="account.id">
                <td>{{ account.id }}</td>
                <td>{{ account.client.identification_card }}</td>
                <td>{{ account.client.name }}</td>
                <td>{{ account.client.id_str }}</td>
                <td>{{ account.code }}</td>
                <td>{{ account.rate.name }}</td>
                <td>
                    <a :href="'/accounts/'+account.id+'/edit'" class="btn btn-sm btn-primary mb-1">Editar</a>
                    <a :href="'/accounts/'+account.id+'/delete'" class="btn btn-sm btn-danger mb-1"
                       onclick="return confirm('¿Estás seguro que deseas eliminar?');">Eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>
        <pagination
                :data="accounts"
                @pagination-change-page="getResults">
        </pagination>
    </div>
</template>

<script>
    export default {

        mounted() {

        },data() {
            return {
                nameInput: [],
                accounts: {}
            }
        },
        created() {
            this.getResults();
        },
        methods: {
            searchRate() {
                this.getResults();
            },
            getResults(page = 1) {
                const url = '/api/accounts?nameInput='+this.nameInput+'&page='+page;

                axios.get(url)
                    .then(response => {
                    this.accounts = response.data;
                });
            }
        }
    }
</script>
