<template>
    <div>
        <div class="row">
            <div class="col-sm-8">
                <form action="" v-on:submit.prevent="searchClient()">
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            <input type="text" class="form-control mb-2" placeholder="Buscar" v-model="nameInput">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-dark mb-2">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-4">
                <a href="/clients/create" class="btn btn-dark float-right">Nuevo cliente</a>
            </div>
        </div>
        <table class="table table-sm my-3">
            <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Nombres</th>
                <th>Cédula</th>
                <th>Dirección</th>
                <th>Actualizado</th>
                <th>Opciones</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="client in clients.data"
                :key="client.id">
                <td>{{ client.id_str }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.identification_card }}</td>
                <td>{{ client.address }}</td>
                <td>{{ client.updated_format }}</td>
                <td>
                    <a :href="'/clients/'+client.id+'/edit'" class="btn btn-sm btn-primary mb-1">Editar</a>
                    <a :href="'/clients/'+client.id+'/delete'" class="btn btn-sm btn-danger"
                       onclick="return confirm('¿Estás seguro que deseas eliminar?');">Eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>
        <pagination
                :data="clients"
                @pagination-change-page="getResults">
        </pagination>
    </div>
</template>

<script>
    export default {

        mounted() {

        },data() {
            return {
                nameInput: [],
                clients: {}
            }
        },
        created() {
            this.getResults();
        },
        methods: {
            searchClient() {
                this.getResults();
            },
            getResults(page = 1) {
                const url = '/api/clients?nameInput='+this.nameInput+'&page='+page;

                axios.get(url)
                    .then(response => {
                    this.clients = response.data;
                });
            }
        }
    }
</script>
