<template>
    <div>
        <div class="row">
            <div class="col-sm-8">
                <form action="" v-on:submit.prevent="searchRate()">
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            <input type="text" class="form-control mb-2" placeholder="Buscar" v-model="nameInput">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-dark mb-2">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-4">
                <a href="/rates/create" class="btn btn-dark float-right">Nueva tasa</a>
            </div>
        </div>
        <table class="table table-sm my-3">
            <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Tasa</th>
                <th>Opciones</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="rate in rates.data"
                :key="rate.id">
                <td>{{ rate.id}}</td>
                <td>{{ rate.name }}</td>
                <td>
                    <a :href="'/rates/'+rate.id+'/taxes'" class="btn btn-sm btn-success">Impuestos</a>
                    <a :href="'/rates/'+rate.id+'/edit'" class="btn btn-sm btn-primary mb-1">Editar</a>
                    <a :href="'/rates/'+rate.id+'/delete'" class="btn btn-sm btn-danger"
                       onclick="return confirm('¿Estás seguro que deseas eliminar?');">Eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>
        <pagination
                :data="rates"
                @pagination-change-page="getResults">
        </pagination>
    </div>
</template>

<script>
    export default {

        mounted() {

        },data() {
            return {
                nameInput: [],
                rates: {}
            }
        },
        created() {
            this.getResults();
        },
        methods: {
            searchRate() {
                this.getResults();
            },
            getResults(page = 1) {
                const url = '/api/rates?nameInput='+this.nameInput+'&page='+page;

                axios.get(url)
                    .then(response => {
                    this.rates = response.data;
                });
            }
        }
    }
</script>
