<template>
    <div>
        <div class="row">
            <div class="col-sm-8">
                <form action="" v-on:submit.prevent="searchRate()">
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            <input type="text" class="form-control mb-2" placeholder="Buscar" v-model="nameInput">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-dark mb-2">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-4">
                <a href="/taxes/create" class="btn btn-dark float-right">Nuevo impuesto</a>
            </div>
        </div>
        <table class="table table-sm my-3">
            <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Impuesto</th>
                <th>Cuenta</th>
                <th>Opciones</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="tax in taxes.data"
                :key="tax.id">
                <td>{{ tax.id}}</td>
                <td>{{ tax.name }}</td>
                <td>{{ tax.account }}</td>
                <td class="w-25">
                    <a :href="'/taxes/'+tax.id+'/edit'" class="btn btn-sm btn-primary mb-1">Editar</a>
                    <a :href="'/taxes/'+tax.id+'/delete'" class="btn btn-sm btn-danger mb-1"
                       onclick="return confirm('¿Estás seguro que deseas eliminar?');">Eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>
        <pagination
                :data="taxes"
                @pagination-change-page="getResults">
        </pagination>
    </div>
</template>

<script>
    export default {

        mounted() {

        },data() {
            return {
                nameInput: [],
                taxes: {}
            }
        },
        created() {
            this.getResults();
        },
        methods: {
            searchRate() {
                this.getResults();
            },
            getResults(page = 1) {

                axios.get('/api'+window.location.pathname+'?nameInput='+this.nameInput+'&page='+page)
                    .then(response => {
                    this.taxes = response.data;
                });
            }
        }
    }
</script>
